<div class="jumbotron jumbotron-fluid shadow">
  <div class="container">
    <h1 class="display-4">Feedback</h1>
    <hr class="my-4" />
    <div class="lead">
      <ul>
        <li *ngFor="let feedback of (feedbacks | keyvalue)">
          <div class="row">
            <div class="col-md-2">
              <label for="">{{ feedback.value.name }}</label>
              <div class="feedbackImg">
                <img
                  [src]="
                    feedback.value.profilePictureUrl
                      ? feedback.value.profilePictureUrl
                      : defaultProfilePic
                  "
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-10">
              <div>{{ feedback.value.date }}</div>
              <div>{{ feedback.value.thumbsUp }}</div>
              <div>{{ feedback.value.email }}</div>
              <div>{{ feedback.value.description }}</div>
            </div>
          </div>
          <hr />
        </li>
      </ul>
    </div>
  </div>

  <ng-template #content let-d="dismiss">
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit(); d('Close click')">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Your valuable feedback please :)
        </h4>

        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="thumbsup" class="fancy-checkbox">
                  Like my profile?
                  <input
                    type="checkbox"
                    data-md-icheck
                    (change)="thumbsUp = !thumbsUp"
                    formControlName="thumbsUp"
                    id="thumbsup"
                  />
                  <i class="fa-thumbs-up far unchecked"></i>
                  <i class="fa-thumbs-up fas checked"></i>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  formControlName="name"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  formControlName="email"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Your Feedback</label>
                <textarea
                  type="text"
                  id="description"
                  class="form-control"
                  formControlName="description"
                  rows="6"
                ></textarea>
              </div>
            </div>
          </div>
          <input
            type="checkbox"
            data-md-icheck
            (change)="useGoogleProfile = !useGoogleProfile"
            formControlName="useGoogleProfile"
          />
          Let me use your google profile pic. <br />
          <!--
            Checkbox is <span *ngIf="useGoogleProfile">checked</span
            ><span *ngIf="!useGoogleProfile">unchecked</span>
          -->
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-light"
          [disabled]="!feedbackForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </ng-template>

  <button
    class="btn btn-outline-primary mb-2 mr-2"
    (click)="openVerticallyCentered(content)"
  >
    Give Me Feedback
  </button>
</div>
