body {
  font-family: "Segoe UI", Arial, sans-serif;
  -webkit-print-color-adjust: exact;
  margin: 0px auto;
  line-height: 20px;
}

/* #main-wrapper::after {
  content: "";
  height: 2150px;
  background: url(bg6.png);
  background-repeat: repeat;
  opacity: 0.12;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
} */

header {
  margin-bottom: 15px;
  margin-left: 15px;
}

nav {
  height: 30px;
  background-color: #0F4C81;
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.nav-element {
  margin-left: 10px;
}

#header-text {
  padding-top: 67px;
}

#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  float: left;
  background: url(resume-pic.jpg);
  background-size: 125%;
  background-position: 50% 20%;
  margin-right: 15px;
}

.heading {
  font-size:18px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
}

#wrapper-section {
  margin: 0 35px;
}

.fab,
.fas {
  vertical-align: initial;
  padding: 10px;
}

.fa-2x {
  font-size: 1.2em;
}

h1,
h3,
h5,
p {
  margin: 8px 0 0 0;
  color: #000;
  font-weight: lighter;
}

p {
  font-size:13px;
    line-height:1.45;
}

h3 {
  font-size: 20px;
}

ul {
  color: #000;
}

ul.no-list-style {
  list-style-type: none;
  margin: 0;
  padding: 8px;
}

ul.no-list-style li,
ul li {
  margin: 3px 0;
}

.name {
    font-size:36px;
    font-weight:700;
}

.designation {
 font-size:17px;
    font-weight:600;
  margin-top:8px;
}

.role {
 margin-top:12px;
    font-size:13px;
    line-height:1.6;
    color:#444;
}

.blue {
  color: #0F4C81;
}

.text-color-blue {
  color: #0F4C81;
  font-weight: bold;
  font-size: 14px;
}

/* .highlights-list {
  margin: 0;
  padding: 8px 0 0 25px;
 padding-left:22px;
    line-height:1.4;
  list-style-type: disc;
  color: #0F4C8n 1;
} */
.highlights-list{
    padding-left:22px;
    line-height:1.4;
}

.highlights-list li{
    margin-bottom:6px;
}
.no-list-style .text-color-blue {
  font-style: normal;
}
hr{
    background:#d9d9d9;
    height:1px;
}
/* hr {
  border: none;
  height: 1px;
  color: #0F4C81;
  background-color: #0F4C81;
  margin: 1px 0;
} */
.lh {
  line-height: 1.5;
}
.m-0 {
  margin: 0 !important;
}
.m-15 {
  margin: 15px;
}
.mt-10 {
  margin-top: 10px;
}
.ms-15 {
  margin-left: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.h-45 {
  height: 45px;
}
.d-flex {
  display: flex;
}
.float-right {
  float: right;
}
article {
  padding: 8px 0;
}
.none-text-decor {
  text-decoration: none;
}
