body {
  font-family: "Segoe UI", Arial, sans-serif;
  -webkit-print-color-adjust: exact;
  margin: 0px auto;
  line-height: 20px;
}

header {
  margin-bottom: 15px;
  margin-left: 15px;
}

nav {
  height: 30px;
  background-color: #0f4c81;
  text-align: center;
  color: #fff;
  font-size: 10px;
  a {
    color: #fff;
  }
}

.nav-element {
  margin-left: 10px;
}

#header-text {
  padding-top: 35px;
}

#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  float: left;
  background: url(resume-pic.jpg);
  background-size: 125%;
  background-position: 50% 20%;
  margin-right: 15px;
}

@media print {
  #profile-pic {
    display: none;
  }

  #header-text {
    padding-top: 20px;
  }
}

.heading {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px;
}

#wrapper-section {
  margin: 15px 35px 0;
}

.fab,
.fas {
  vertical-align: initial;
  padding: 10px;
}

.fa-2x {
  font-size: 1.2em;
}

p {
  font-size: 13px;
  line-height: 1.45;
  margin: 0;
}

h3 {
  font-size: 20px;
}

ul {
  margin: 4px 0;
}

ul.no-list-style {
  list-style-type: none;
  padding: 8px;
}

.name {
  font-size: 36px;
  font-weight: 700;
}

.designation {
  font-size: 17px;
  font-weight: 600;
  margin-top: 8px;
}

.role {
  margin-top: 12px;
  font-size: 13px;
  line-height: 1.6;
  color: #444;
}

.blue {
  color: #0f4c81;
}

.text-color-blue {
  color: #0f4c81;
  font-weight: bold;
  font-size: 14px;
}

.highlights-list {
  padding-left: 22px;
  line-height: 1.4;
}

.no-list-style .text-color-blue {
  font-style: normal;
}
hr {
  background: #d9d9d9;
  height: 1px;
  margin: 15px 0;
}
.lh {
  line-height: 1.5;
}
.m-0 {
  margin: 0 !important;
}
.m-15 {
  margin: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.ms-15 {
  margin-left: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.h-45 {
  height: 45px;
}
.d-flex {
  display: flex;
}
.float-right {
  float: right;
}
.none-text-decor {
  text-decoration: none;
}
