<div
  class="container-fluid text-center"
  style="background-color: rgba(105, 191, 252, 0.527);"
>
  <div class="row">
    <div class="col-md-12 p-2">
      <a class="" href="https://github.com/kiranbangale" target="_blank">
        <i class="fab fa-github fa-2x text-warning "></i>
      </a>
      <a
        class=""
        href="https://www.linkedin.com/in/kiranbangale"
        target="_blank"
      >
        <i class="fab fa-linkedin fa-2x text-warning "></i>
      </a>
      <a
        class=""
        href="https://www.hackerrank.com/kiranbangale?hr_r=1"
        target="_blank"
      >
        <i class="fab fa-hackerrank fa-2x text-warning "></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-muted">
      Copyright © 2019 Kiran Ganesh Bangale
    </div>
  </div>
</div>
