.profilePicture {
  background: url('../../../assets/profilePicture.jpg');
  width: 250px;
  height: 250px;
  background-position: 0 54%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
.alert-msg {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
